<div class="modal-wrapper">
	<div class="modal">
		<h2><%= @user.username %></h2>
		<p><%= @user.email %></p>
		<p>Account ID: <%= @user.id %></p>
		<p>Created: <%= @user.created_at %> | Updated: <%= @user.updated_at %></p>
		<p>Sign in Count: <%= @user.sign_in_count %></p>
		<p>Current IP: <%= @user.current_sign_in_ip %></p>
		<p>Last IP: <%= @user.last_sign_in_ip %></p>
		<p>Coords: <%= @user.x %>, <%= @user.y %></p>
		<br>
		<p><%= link_to 'My Plots', account_list_path %></p>
		<br>
		<%= link_to 'Edit', edit_user_registration_path %> | 
		<%= link_to 'Back to Accounts', accounts_path %>
		<br>
	</div>
</div>