<div class="modal-wrapper">
  <div class="modal">
    <h2>All Plots</h2>
    <ul>
      <% @plots.each do |plot| %>
        <li>
          <%= link_to plot.title, plot %>
          <span class="plot-links">
            <% if (plot.active_plot) %>
              Active | <%= link_to 'Deactivate', deactivate_plot_path(plot.id), method: :patch %> |
            <% else %>
              Not Active | 
              <%= link_to 'Activate', activate_plot_path(plot.id), method: :patch %> | 
            <% end %>
            <%= link_to 'Edit', edit_plot_path(plot) %> | 
            <%= link_to 'Destroy', plot, method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        </li>
      <% end %>
    </ul>
    <br>
    <%= link_to 'New Plot', new_plot_path %>
  </div>
</div>