<p>
  <strong>Send to:</strong>
  <%= @letter.send_to %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @letter.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @letter.content %>
</p>

<%= link_to 'Mark as Read', read_correspondent_letter_path(@letter.correspondent.id, @letter.id), method: :patch %> | 
<%= link_to 'Edit # eventually make a trash path', edit_correspondent_letter_path(@letter.correspondent.id, @letter.id) %> |
