<p>
  <strong>Send to:</strong>
  <%= @letter.send_to %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @letter.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @letter.content %>
</p>

<%= link_to 'Edit', edit_correspondent_letter_path(@letter.correspondent.id ,@letter.id) %> |
<%= link_to 'Back', correspondent_letters_path %>
