<div class="modal-wrapper">
	<div class="modal">
		<h2>Sent to: <%= @letter.send_to %> | Subject: <%= @letter.subject %></h2><br>
		<div class="letter-content"><%= @letter.content %></div><br>
		<%= link_to 'Mark as Read', read_correspondent_letter_path(@letter.correspondent.id, @letter.id), method: :patch %>
		<br>
		<br>
		<%= link_to 'Edit # eventually make a trash path', edit_correspondent_letter_path(@letter.correspondent.id, @letter.id) %>
	</div>
</div>