<p>
  <strong>Correspondent ID:</strong>
  <%= @correspondent.id %>

  <strong>User ID:</strong>
  <%= @correspondent.user_id %>

  <strong>User:</strong>
  <%= @correspondent.user.username %>
</p>

<ul>
	<% @correspondent.letters.each do |letter| %>
		<li>Sent To: <%= letter.send_to %> | Subject: <%= letter.subject %> | <%= link_to 'Read', correspondent_letter_path(@correspondent.id, letter.id), method: :get %></li>
	<% end %>
</ul>

<br>
<%= link_to 'New Letter', new_correspondent_letter_path(@correspondent.id), method: :get %><br>
<%= link_to 'Back to Correspondents', correspondents_path %>
