<!DOCTYPE html>
<html>
	<head>
		<title>TurnPlot</title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<script src="http://www.alohaeditor.org/download/aloha.min.js"></script>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<a href="/">
				<h1 class="site-title">TurnPlot</h1>
			</a>
			<% if (current_user) %>
				<div class="header-nav">
					<%= link_to current_user.username, account_path, method: :get %> | 
					<%= link_to 'Account List', accounts_path, method: :get %> | 
					<%= link_to 'Plots', plots_path, method: :get %> | 
					<%= link_to 'Inbox', correspondents_path, method: :get %> | 
					<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
				</div>
			<% else %>
				<div class="header-nav">
					<%= link_to 'Log In', new_user_session_path, method: :get %> | 
					<%= link_to 'Register', new_user_registration_path, method: :get %>
				</div>
			<% end %>
		</header>
		<div class="flash-block">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>
		<div class="main-wrapper">
			<%= yield %>
		</div>
		<footer>
			<%= link_to "Back", :back %>
		</footer>
	</body>
</html>